/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:16px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;} */
/*--------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* общие стили */

body {
    font-family: "Roboto", sans-serif;
    background-color: #1c1c1c;
    color: #fff;
}
a {
    color: #fff;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 1rem;

    background: #f6762c;
    border-radius: 5px;

    width: 165px;
    height: 50px;

    transition: 0.6s;
}
.btn:hover {
    opacity: 0.7;
}
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
h1,h2,h3,h4,h5,,h6 {
    font-weight: 500;
}


/* шапка */

.header {
    padding: 25px 0px;

}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {

}
.nav {
    
}
.header_list {
    display: flex;
    gap: 2rem;
}
.nav a {
    font-size: 14px;
    opacity: 0.7;
    transition: 0.5s;
}
.nav a:hover {
    opacity: 0.9;
}
.nav a.active {
    opacity: 1;
}

.main {

}

/* Welcome */

.welcome {
    margin-top: -100px;
    background-image: url("../images/welcome-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 240px 0;
}
.welcome_subtitle {
    margin-bottom: 7px;
    font-size: 14px;
    letter-spacing: 0.1em;
}
.welcome_title {
    font-size: 58px;
    line-height: 67px;
}
.welcome_text {
    margin: 40px 0;
    font-size: 18px;
    opacity: 0.7;
}
.welcome_container2{
    width: 550px;

}
